.wix-style-react-floating-tabs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wix-style-react-floating-tabs-button{
  border-radius: 0;
}

.wix-style-react-floating-tabs-button-first{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wix-style-react-floating-tabs-button-last{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wix-style-react-floating-tabs-buttons{
  display: flex;
  direction: row;
}
.wix-style-react-floating-tabs-buttons-item{
  flex:1;
}